<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webMusic.common.dao.ReleaseDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.webMusic.common.model.ReleaseDynamic" >
    <id column="dynamic_id" property="dynamicId" jdbcType="VARCHAR" />
    <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="click_num" property="clickNum" jdbcType="DECIMAL" />
    <result column="browse_num" property="browseNum" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.webMusic.common.model.ReleaseDynamic" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dynamic_id, resource_id, user_id, click_num, browse_num
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.webMusic.common.model.ReleaseDynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from release_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.webMusic.common.model.ReleaseDynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from release_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from release_dynamic
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from release_dynamic
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.webMusic.common.model.ReleaseDynamicExample" >
    delete from release_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.webMusic.common.model.ReleaseDynamic" >
    insert into release_dynamic (dynamic_id, resource_id, user_id, 
      click_num, browse_num, content
      )
    values (#{dynamicId,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{clickNum,jdbcType=DECIMAL}, #{browseNum,jdbcType=DECIMAL}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webMusic.common.model.ReleaseDynamic" >
    insert into release_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        dynamic_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="clickNum != null" >
        click_num,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dynamicId != null" >
        #{dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="clickNum != null" >
        #{clickNum,jdbcType=DECIMAL},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.webMusic.common.model.ReleaseDynamicExample" resultType="java.lang.Integer" >
    select count(*) from release_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update release_dynamic
    <set >
      <if test="record.dynamicId != null" >
        dynamic_id = #{record.dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.clickNum != null" >
        click_num = #{record.clickNum,jdbcType=DECIMAL},
      </if>
      <if test="record.browseNum != null" >
        browse_num = #{record.browseNum,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update release_dynamic
    set dynamic_id = #{record.dynamicId,jdbcType=VARCHAR},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      click_num = #{record.clickNum,jdbcType=DECIMAL},
      browse_num = #{record.browseNum,jdbcType=DECIMAL},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update release_dynamic
    set dynamic_id = #{record.dynamicId,jdbcType=VARCHAR},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      click_num = #{record.clickNum,jdbcType=DECIMAL},
      browse_num = #{record.browseNum,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.webMusic.common.model.ReleaseDynamic" >
    update release_dynamic
    <set >
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="clickNum != null" >
        click_num = #{clickNum,jdbcType=DECIMAL},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.webMusic.common.model.ReleaseDynamic" >
    update release_dynamic
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      click_num = #{clickNum,jdbcType=DECIMAL},
      browse_num = #{browseNum,jdbcType=DECIMAL},
      content = #{content,jdbcType=LONGVARCHAR}
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webMusic.common.model.ReleaseDynamic" >
    update release_dynamic
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      click_num = #{clickNum,jdbcType=DECIMAL},
      browse_num = #{browseNum,jdbcType=DECIMAL}
    where dynamic_id = #{dynamicId,jdbcType=VARCHAR}
  </update>
</mapper>